* {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.items {
    display: flex;
    width: 100%;
    background-color: rgb(85, 85, 85);
    flex-wrap: nowrap;
}

.item {
    background-color: rgb(189, 189, 189);
    padding: 20px 10px;
    margin: 10px;
    border-radius: 5px;
}

.item1 {
    flex: 0.5 1 70px;
}

.item2 {
    flex: 0.5 1 70px;
}

.item3 {
    flex: 2 1 70px;
}

.item4 {
    flex: 1 1 70px;
}

.item h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}