* {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.items {
    display: flex;
    width: 100%;
    /* height: 1550px; */
    background-color: rgb(85, 85, 85);
    flex-wrap: wrap;
    /* align-items: flex-start; */
    /* align-content: space-around; */
}

.item {
    width: 200px;
    background-color: rgb(189, 189, 189);
    padding: 20px 10px;
    margin: 10px;
    border-radius: 5px;
}

.item3 {
    font-size: 32px;
    
}

.item h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}