* {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.items {
    display: flex;
    width: 100%;
    background-color: rgb(85, 85, 85);
    
}

.item {
    width: 25%;
    background-color: rgb(189, 189, 189);
    padding: 20px 10px;
    border-radius: 5px;
}