* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu light;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    margin: 0 15px;
}

img {
    display: block;
    max-width: 100%;
}

section {
    margin-top: 70px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 35px;
}
h3, h4 {
    color: #1d9d73;
}

h4 {
    margin-top: 40px; /* 50px */
    font-size: 26px;
}

p {
    margin-top: 40px;
    font-size: 18px;
    color: #9b9b9b;
}