.center {
    justify-content: center;
}

.footer__logo {
    width: 174px;
    height: 14px;
    background-color: darkgoldenrod;
}

.socials {
    width: 274px;
    height: 20px;
    background-color: darkblue;
}