.center {
    justify-content: center;
}

.footer__logo {
    display: flex;
}

footer img {
    width: 28px;
}

footer .footer-logo-text {
    font-size: 14px;
    color: grey;
    align-self: center;
    margin-left: 15px;
}

.socials {
    height: 20px;
    align-self: center;
}

.socials ul {
    list-style: none;
}

.socials a {
    display: block;
    width: 20px;
    height: 20px;
}