.how-we-work img{
    max-width: calc(640px - 30px);
}

.how-we-work .content {
    width: calc(100% - 640px - 30px);
}

.how-we-work h2 {
    font-size: 55px;
}
.how-we-work .mark {
    display: inline-block;
    width: 41px;
    height: 32px;
    background-image: url('/img/mark.png');
    background-repeat: no-repeat;
}
.how-we-work .text-headr {
    display: inline-block;
    margin-left: 20px;
    font-size: 26px;
    color: green;
}

.how-we-work .text-content {
    font-size: 14px;
    color: grey;
}