div , a, p {
    font-family: Ubuntu light;
}

.services-content, .how-we-work h2, .testi h2 {
    text-align: center;
}

.how-we-work {
    background-image: url("/img/services-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.padding {
    padding: 30px 0;
}

.how-content {
    width: calc(100% / 2 - 30px);
}

.testi h2 {
    margin-bottom: 20px;
}

.worker {
    width: calc(100% / 3 - 30px);
    margin: 20px 0;
}

.wrapper-img {
    display: block;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.worker h4 {
    margin-top: 30px;
}

.worker h4 + p {
    margin-top: 10px;
}

.worker .mark {
    margin-right: 15px;
}

