
.tree-columns .building, 
.tree-columns .phone, 
.tree-columns .globe {
    width: calc(100% / 3 - 30px);
    font-size: 26px;
}

.tree-columns .text {
    font-size: 14px;
    color: grey;
}

.tree-columns .btn {
    align-self: center;
    display: inline-block;
    padding: 15px 55px;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: white;
}