.two-columns-4items
.card {
    display: flex;
    width: calc(100% / 2 - 30px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.two-columns-4items .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: green;
    border-radius: 50%;
}

.two-columns-4items .right {
    width: calc(100% - 130px - 35px);
    margin-left: auto;
}

.two-columns-4items .pic {
    width: 60px;
    height: 60px;
}

.two-columns-4items h3 {
    font-size: 35px;
    color: green;
}

.two-columns-4items p {
    font-size: 18px;
    color: grey;
}